<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @orden.user_id %>
</p>

<p>
  <strong>Medio pago:</strong>
  <%= @orden.medio_pago %>
</p>

<p>
  <strong>Direccion entrega:</strong>
  <%= @orden.direccion_entrega %>
</p>

<p>
  <strong>Hora entrega:</strong>
  <%= @orden.hora_entrega %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @orden.estado %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @orden.notas %>
</p>

<%= link_to 'Edit', edit_orden_path(@orden) %> |
<%= link_to 'Back', ordens_path %>
