<p id="notice"><%= notice %></p>

<h1>Comentario Restaurantes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Rest</th>
      <th>Fecha</th>
      <th>Puntaje</th>
      <th>Contenido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentario_restaurantes.each do |comentario_restaurante| %>
      <tr>
        <td><%= comentario_restaurante.user_id %></td>
        <td><%= comentario_restaurante.rest_id %></td>
        <td><%= comentario_restaurante.fecha %></td>
        <td><%= comentario_restaurante.puntaje %></td>
        <td><%= comentario_restaurante.contenido %></td>
        <td><%= link_to 'Show', comentario_restaurante %></td>
        <td><%= link_to 'Edit', edit_comentario_restaurante_path(comentario_restaurante) %></td>
        <td><%= link_to 'Destroy', comentario_restaurante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comentario Restaurante', new_comentario_restaurante_path %>
